.atc-icon {
    width:35px;
    height:35px;
    display:inline-flex;
    vertical-align:middle;
    justify-content:center;
    align-items:center;

  }

  .minus-icon {
    width:35px;
    height:35px;
    display:inline-flex;
    vertical-align:middle;
    justify-content:center;
    align-items:center;

  }

  .plus-icon {
    width:35px;
    height:35px;
    display:inline-flex;
    vertical-align:middle;
    justify-content:center;
    align-items:center;

  }

  .arrow-icon {
    width:24px;
    height:24px;
    display:inline-flex;
    vertical-align:top;
    justify-content:center;
    align-items:center;
  }

  .cancel-icon {
    width: 24px;
    height: 24px;
    display:inline-flex;
    vertical-align:top;
    justify-content:center;
    align-items:center;
    border: 1px solid;

  }
