.cart-overlay-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 69px;
    z-index: 2;
    background: rgba(57, 55, 72, 0.22);
}

.cart-overlay-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px;
    gap: 32px;
    position: absolute;
    width: 325px;
    height: 500px;
    left: 990px;
    top: 0;
    z-index: 5;
    background-color: white;

    & .cart-overlay-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
    
        width: 293px;
        height: 538px;
    
        & .cart-item-count {
            width: 118px;
            height: 26px;
            font-family: 'Raleway';
            font-style: normal;
            font-size: 16px;
            line-height: 160%;
        
            align-self: right;
        
            color: var(--c-primary-dark);
        
            & #left {
                font-weight: 700;
            }
        
            & #right {
                font-weight: 500;
            }
        
        }

        & .cart-overlay-items {

        }
    
    }

    & .cart-overlay-footer {
        display: flex;
        flex-direction: row;
        gap: 12px;
        
    }
}







