:root {
  --primary-green: #5ECE7B;
  --primary-lite: #77d491;
  --primary-dark: #1D1F22;
  --gray: #a8acb030;
  --shadow: #a7abaf30;
  --overlay: #39374838;
  --out-of-stock: #8D8F9A;
}
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}

.no-scroll { overflow: hidden; }












